<h1 class="title">Choose The Playlists You Want To Classify Into</h1>
<div id="playlists-submit"><%= flash.notice %></div>
<table class="record-table" id="table-tag">
  <tbody id="playlist-table">
    <tr>
      <th></th>
      <th>Playlist Name</th>
    </tr>
    <%= form_tag(get_tracks_path) do %>
      <% @playlists.each do |playlist| %>
        <tr>
          <td><%=check_box_tag 'playlist_urls[]', playlist.playlist_url %></td>
          <td><%=playlist.playlist_name%></td>
        </tr>
      <% end %>
    <div id="playlists-submit">
      <%= submit_tag "Import Music & Classify"%>
    </div>
    <% end %>
  </tbody>
</table>

<script>
  $('.record-table tbody tr').click(function(){
       $(this).find('input:checkbox').each(function() {
           if(this.checked) this.checked = false; // toggle the checkbox
           else this.checked = true;
       })
   });
</script>
