<div>
  <% if @playlist %>
    <h1 style="color: white" class="title">Classifying</h1>
    <div class="post-its-div">
      <div class="mid-splash-postit">
        <div class="splash-link-div">
          <div><h3><%=@playlist.playlist_name%></h3></div>
        </div>
      </div>

      <div class="right-splash-postit">
        <div class="splash-link-div">
          <div>
            <% @array_of_classifiers.each do |classifier|%>
              <h3><%=classifier%></h3>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div style="position:relative">
      <%= link_to "Go!", classification_path %>
    </div>
  <% else %>
    <h1 class="title">Predicted With <%= current_user.model %> Model: <%= current_user.fit%> </h1>
    <table id="table-tag">
      <tbody id="predicted-table">
        <tr>
          <th></th>
          <th>Track</th>
          <th>Artist</th>
          <th>Predicted</th>
          <th>Probability</th>
        </tr>
        <%= form_tag(pushing_tracks_path) do %>
          <% @tracks.each do |track| %>
            <tr>
              <td>
                <% if track.preview_url %>
                  <%=audio_tag track.preview_url, autoplay: false, controls: true%>
                <% end %>
              </td>
                <!-- <%#=audio_tag(track.preview_url, autoplay: false, controls: true)%></td> -->
              <td><%=track.track%></td>
              <td><%=track.artist_name%></td>
              <td><%=select_tag 'playlist_ids[]', options_for_select(@playlists.collect{|x| [x.playlist_name,x.playlist_id]}.append(["Don't Classify", "None"]), track.pred_id)%></td>
              <td><%=track.pred_proba.to_f.round(2)%></td>
            </tr>
          <% end %>
          <div id="playlists-submit">
            <%= submit_tag "Push To Playlists" %>
          </div>
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>
