<!DOCTYPE html>
<html>
  <head>
    <title>Autoclassify</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'http://clipart-library.com/images/8Tznp7Koc.png', type: 'image/png'%>
  </head>

  <body>
    <nav>
      <%#= flash[:notice] %>
      <% if logged_in? %>
        <%= link_to "Log out", logout_path, method: :delete, id: "logout-link" %>
      <% else %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
